@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Bold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Hellix";
  src: url("https://assets.codepen.io/6060109/Hellix-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
  font-family: "Hellix", sans-serif;
  background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);
}

.container {
  margin: 15px;
}

.bold-text {
  font-weight: 700;
}

p {
  color: #111235;
  line-height: 24px;
}

.about,
.personal-trainer,
.benefits {
  margin-top: 120px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h2 {
  font-size: 48px;
}

h4 {
  font-size: 18px;
}

/* Menu Bar */

.menu-bar {
  height: 75px;
  width: 100%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar-links {
  display: none;
}

h3 {
  font-size: 36px;
}

/* Main Section */

.main {
  text-align: center;
}

.workout-img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.main-section-img {
  margin-top: 75px;
}

h1 {
  font-size: 64px;
  margin: 40px 26px 20px;
}

.btn {
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 250px;
  margin: 0 auto;
  margin-top: 35px;
  font-weight: 600;
  font-size: 18px;
  transition: 0.5 ease all;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.5 ease all;
  cursor: pointer;
}

.btn-purple {
  background-color: #4b5092;
  color: white;
}

/* About Section */

.blue-bg {
  background-color: #f2f8ff;
  width: 100%;
  height: 380px;
}

.blue-bg h2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.blue-bg p {
  padding-bottom: 5px;
}

/* Personal Trainer Section */

.personal-trainer {
  text-align: center;
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
}

.personal-trainer h2 {
  padding-top: 80px;
}

.personal-trainer h4 {
  padding-top: 10px;
  margin-bottom: 30px;
}

.personal-trainer p {
  padding-bottom: 5px;
}

.btn-white {
  background-color: white;
  color: #436baa;
  margin-bottom: 50px;
}

/* Benefits Section */

.benefits h2 {
  margin-bottom: 40px;
  margin-left: 15px;
}

.benefits h4 {
  font-size: 24px;
  padding-bottom: 20px;
}

.card {
  width: 100%;
  height: 250px;
  border-radius: 30px;
  padding: 50px 40px;
  margin-bottom: 20px;
}

.blue-card {
  background-color: #e4f0ff;
}

.purple-card {
  background: #727aef1a;
}

.card-content {
  max-width: 90%;
}

/* Footer */

footer {
  margin-top: 85px;
  text-align: center;
}

.separation {
  background: #0000004d;
  height: 1px;
  width: 95%;
}

footer h3 {
  margin-top: 50px;
}

footer h4 {
  font-weight: 600;
  margin-bottom: 15px;
}

footer p {
  font-weight: 500;
  margin-top: 35px;
}

.links {
  margin-top: 50px;
}

.email-form {
  margin-top: 50px;
  position: relative;
}

input {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 50%;
  padding: 8px 12px;
}

::placeholder {
  font-family: Hellix;
  font-weight: 400;
  font-size: 14px;
  color: #111235;
}

.send-icon {
  width: 18px;
  height: 18px;
  margin-left: -30px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 0 15px;
  background: rgba(128, 173, 245, 0.1);
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon img {
  width: 17px;
  height: 17px;
}

.copyright {
  font-size: 14px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 100px;
}

/* Desktop Version */

@media only screen and (min-width: 768px) {
  /* body {
    padding: 27px 64px 80px 135px;
  } */

  .container {
    margin: 0;
  }

  /* Menu Bar */

  .menu-bar {
    justify-content: space-between;
    box-shadow: none;
    padding: 27px 150px 0 135px;
  }

  .menu-bar-links {
    display: flex;
  }

  .menu-bar-links img {
    margin-left: 55px;
  }

  .menu-bar-links p {
    margin-right: 45px;
  }

  /* Main Section */

  .main {
    text-align: left;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-left: 135px;
    padding-right: 64px;
  }

  h1 {
    margin: 0;
    margin-bottom: 30px;
  }

  .main .btn-purple {
    margin: 0;
    margin-top: 40px;
  }

  /* About Section */

  .about {
    display: flex;
    padding-left: 135px;
    padding-right: 100px;
  }

  .blue-bg {
    padding: 45px;
    border-radius: 50px;
  }

  .blue-bg h2 {
    padding-top: 10px;
  }

  /* Personal Trainer Section */
  .personal-trainer {
    padding-left: 135px;
    padding-right: 100px;
    text-align: left;
  }

  .personal-trainer .container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }

  .personal-trainer h2 {
    padding-top: 0;
  }

  .personal-trainer img {
    width: 50%;
  }

  .personal-trainer-info {
    padding-left: 50px;
    width: 50%;
  }

  .btn-white {
    margin: 0;
    margin-top: 40px;
  }

  /* Benefits section */

  .benefits {
    padding-left: 135px;
    padding-right: 84px;
    position: relative;
  }

  .benefits .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto auto;
    grid-column-gap: 12px;
  }

  .card {
    padding-top: 30px;
  }

  .get-now-btn {
    position: absolute;
    margin: 0;
    top: 0;
    right: 84px;
  }

  /* Footer */

  footer {
    padding: 0 80px 94px 135px;
    text-align: left;
  }

  .separation {
    width: 100%;
  }

  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
  }

  .email-form {
    width: 30%;
  }

  input {
    width: 100%;
    margin-left: -8px;
  }

  .social-icons {
    display: none;
  }
}
